@charset "UTF-8";

/* Light theme color */
$accent-color: #e090c3;
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$accent-color: #e090c3;
$dark-background: #18131b;
$dark-background-secondary: #3b3d42;
$dark-background-header: #18131b;
$dark-background-header-border: #362c3b;
$dark-color: #f1f1f1;
$dark-color-variant: white;
$dark-color-secondary: #b3b3bd; /* Unused now as of 2/14 */
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;